---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{ page.title }} - Kronosville</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Bootstrap theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- EB Garamond -->
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <!-- Page styles -->
  <link href="http://kronosville.github.io/css/main.css" rel="stylesheet" type="text/css">

  <!-- Favicon -->
  <link href="http://kronosville.github.io/imgs/favicon.png" rel="icon" type="image/png">

</head>
<body>

  {% include kronosville-navbar.html %}

  <div class="jumbotron" align="center">
    <div class="container">

      <h4>
        {% if page.base_loc != 'root' %}
          {{ page.base_loc }} / {{ page.title }}
        {% endif %}
      </h4>

      <!-- KRONOSVILLE -->
      <img src="http://kronosville.github.io/imgs/logo.png" width="400px">

      <h2>{{ page.title }}</h2>
      {{ content }}
    </div>
  </div>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  {% for script in page.scripts %}
    <script src="{{ script }}.js"></script>
  {% endfor %}
</body>
</html>
